@model _OrnekProje.Models.Product

@{
    ViewBag.Title = "GetProducts";
}


@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ProductId)
        @Html.TextBoxFor(m => m.ProductId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ShortDescription)
        @Html.TextBoxFor(m => m.ShortDescription, new { @class = "form-control" })  <br />
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Ürün Güncelle</button>
    </div>
}